<!DOCTYPE HTML>

<html>
	<head>
		<title>Cats VS Dogs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<style>
		body {
		background-image: url('static/images/dogvscat.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
		}
		header {
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		}
		form {
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		}
	
	</style>

	<!-- Header -->
	<header>

		<h1 style="text-align:center; color:white">Cats vs Dogs Classification</h1>
		<h3 style="text-align:center; color:white">Learn who you are truly welcoming into your home with AI</h3>
	</header>

	<body class="is-preload">

		<form method=post enctype=multipart/form-data>
			<input type=file name=file>
			<input type=submit value=Classify>
		</form>

		<a href="https://xavierlince.com/" target="_blank" style="position:absolute; bottom:20px; right:20px; color:azure">Xavier Lince</a>

	</body>
</html>